{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  <h1>Products Information</h1>
  {{ df | safe }}
  <hr>
  <div>
    {% if error_message %}
      {{ error_message }}
    {% else %}
      <form class="ui form" action="{% url 'products__home' %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label>Choose a chart type:</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="sales">
            <i class="dropdown icon"></i>
            <div class="default text">-----------</div>
            <div class="menu">
              <div class="item" value="bar">Bar</div>
              <div class="item" value="line">Line</div>
              <div class="item" value="count">Count</div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label for="date_from">Date from:</label>
              <input type="date" name="date_from">
            </div>
            <div class="field">
              <label for="">Date to:</label>
              <input type="date" name="date_to">
            </div>
          </div>
        </div>
        <button type="submit" class="ui primary button">Submit</button>
      </form>
    {% endif %}
  </div>
{% endblock content %}
